<div class="parallax-contatiner ">
  <div class="parallax"><img src="http://www.muirenhof.com/uploads/tx_imagecycle/winter_kinder_15.jpg"></div>
</div>
<div class="section white wideoff">
  <div class="row container">
    <h2 class="header">Miles of Smiles</h2>
    <p class="grey-text text-darken-3 lighten-3">With our website you can look at what products we have in stock with a description. Real people write reivews on what product they choose. We love seeing those smiles, we will go any where you to see a smile.</p>
  </div>
</div>
<div class="parallax-contatiner">
<div class="parallax"><img src="http://www.muirenhof.com/uploads/tx_imagecycle/winter_kinder_15.jpg"></div>
</div>
