<% @products.each do |product| %>
  <h4><%= link_to product.name, product_path(product.id) %>  <% if current_user.admin == true %><%= link_to 'Edit', edit_product_path(product.id) %> | <%= link_to 'Delete', product_path(product), :data => {:confirm => "You sure?", :method => "delete"}  %><% end %></h4>
<% end %>
